.env
dist/
common/logger/log.txt
common/logger/log_raw.txt
# Ignore the entire directory contents, but not the directory itself
llm_directory/*

# Allow the skills directory
!llm_directory/skills/

# Ignore everything inside skills except the write-a-poem folder
llm_directory/skills/*
!llm_directory/skills/write-a-poem/